h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
    color: purple; 
}

h3{
    font-size: 16px;
    color: red;
}

.rectangle{
    width: 400px;
    height: 500px;
    background-color: aquamarine;
    display: inline-block
}

.circle{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: brown;
}